@page "/"

<PageTitle>SCRUM-Tool</PageTitle>
<head>
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
   

    
</head>
<div class="name">
<h1>SCRUM - TOOL</h1>

<p>Welcome to ScruM-TooL</p>
</div>