@page "/ViewBacklog"
@using HttpClients.ClientInterfaces
@using global::Shared.Models
@attribute [Authorize]

@inject IBackLogService backLogService

<h3>Backlogs</h3>


@if (backlogs == null)
{
    <span>Loading backlogs</span>
}

else if (!backlogs.Any())
{
    <p>No Backlogs to display</p>
}
else
{
    @foreach (Backlog uniqueBacklog in uniqueBacklogs)
    {
        <div style="margin: 20px; outline: 2px solid blueviolet; padding: 10px">
            <h3>@uniqueBacklog.BacklogName</h3>
            <table class="table">
                <thead>
                <th>UserStoryId</th>
                <th>UserId</th>
                <th>Title</th>
                <th>Description</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br/>
        <br/>
        <br/>
    }
}

@code {
    private IEnumerable<Backlog>? backlogs;
    private List<Backlog>? uniqueBacklogs;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            backlogs = await backLogService.GetAsync();

            uniqueBacklogs = backlogs
                .GroupBy(p => new { p.BacklogName })
                .Select(g => g.First())
                .ToList();

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}